html,body {overflow-x: hidden; /* Prevent scroll on narrow devices */}
html {position: relative;min-height: 100%;font-family: consolas, Microsoft YaHei, SimHei, serif}
body {background-color: #efeee4;padding-top: 70px;margin-bottom: 101px;}
blockquote {font-size: 14px;border-left:3px solid #15a230;}
footer {position: absolute;bottom: 0;height: 101px;}
#navbar,h1,h2,h3{font-family: Microsoft YaHei, SimHei, serif}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none; color:#FF00FF;}
a:active {text-decoration:none;}

#laputa_content {background-color:#FFF;padding-right:20px;padding-top:10px; }

#article_list {background-color:#FFF;padding-right:20px;padding-top:10px; }
#article_list .thumbnail{border:1px solid rgba(255, 255, 255, 0);}
#article_content {background-color:#FFF;padding: 10px 20px 30px 30px;}
#article_content #info{  font-family: Microsoft YaHei, SimHei, serif; color:#0786C2;margin-bottom: 10px;}
#sidebar {background-color:#FFF;padding-left:30px;padding-bottom:30px;}
#sidebar_category_content{padding:0 5px;}
#sidebar_category_content hr{margin:5px 20px 5px 0;border-bottom: 1px dotted #ccc;border-top:none; width: 100%; height:1px;}
.tags{margin:1px 2px;display: inline-block;padding:5px}

/*===============go top===============*/
#gotop{width:60px; height:60px; position:fixed; bottom:50px; right:40px; border-radius:10px 10px 10px 10px; text-decoration:none; display:none; background-color:#999999;}
#gotop span{ display:block; width:60px; color:#dddddd;}
#gotop span:hover{ color:#cccccc;}
#gotop span{ font-size:40px; text-align:center; margin-top:4px;}
/*===============go top===============*/

@media (min-width: 768px) {
	#laputa_content{margin-left:30px;}
	#article_list, #article_content{border-right:1px solid #CCC; }
}