---
layout: laputa
---

<div id="article_content" class="col-md-9 col-sm-8" >
	<h3 id="title"><a href="{{ post.url }}">{{ page.title }}</a></h3><hr>
	<div id="info" class="text-right">
		{{ page.author }}&nbsp;&middot;&nbsp;
		{{ page.date | date_to_string }}&nbsp;&middot;&nbsp;
		{{ page.category }}
	</div>
	<div id="content">{{ content }}</div><hr>
	<div id="tags" class='text-right' style="margin-bottom:10px;">
	{% for tag in page.tags %}
		<a href="/" class="label label-info" style="padding:5px">{{tag}}</a>&nbsp;
	{% endfor %}
	</div>
</div>

