---
layout: laputa
---

<div id="laputa_content" class="row" >
	<div id="article_content" class="col-md-9 col-sm-8" >
		<h3 id="title">{{ page.title }}</h3><hr>
		<div id="info" class="text-right">
            {{ page.date | date_to_string }}
		</div>
		<div id="content">
            {{ content }}
        </div>
	</div>
	<div id="sidebar" class="col-md-3 col-sm-4 hidden-xs" >
        <div class="row">
            <div id="sidebar_category" class="hidden-xs col-xs-12" >
                <h3>文章分类</h3>
                <div id="sidebar_category_content">
                    <hr><a href="/laputa/category/algorithm/" >算法 && 数据</a>
                    <hr><a href="/laputa/category/design/" >程序 && 设计</a>
                    <hr><a href="/laputa/category/web/" >网络 && 前端</a>
                    <hr><a href="/laputa/category/interest/" >兴趣 && 科学</a>
                </div><hr>
            </div>
            <div id="sidebar_tags" class="hidden-xs col-xs-12" >
                <h3>热门标签</h3>
                <div id="sidebar_tags_content">
                    <a href="/laputa/tags/python/" class="label label-info" style="padding:5px">Python</a>
                    <a href="/laputa/tags/android/" class="label label-primary" style="padding:5px">Android</a>
                    <a href="/laputa/tags/javascript/" class="label label-info" style="padding:5px">JavaScript</a>
                    <a href="/laputa/tags/bootstrap/" class="label label-success" style="padding:5px">Bootstrap</a>
                    <a href="/laputa/tags/flask/" class="label label-warning" style="padding:5px">Flask</a>
                    <a href="/laputa/tags/design/" class="label label-primary" style="padding:5px">设计模式</a>
                    <a href="/laputa/tags/mongo/" class="label label-info" style="padding:5px">MongoDB</a>
                </div>
            </div>
        </div>
    </div>
</div>