{% extends "layout.html" %}
{% block content %}
<div id="article_list" class="col-md-9 col-sm-8" >
    {% for article in articles %}
    <div class="row">
        <div class="col-lg-12" style="padding-left:35px">
            <h3><a href="{{ url_for('show_article',article=article.url) }}">{{ article.title }}</a></h3>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ article.abstract }}</p>
			<p class="text-right">
				<span class="label label-warning tags">{{ article.author }}</span>
				&sdot; <span class="label label-info tags">{{ article.date}}</span>
			</p>
        </div>
    </div><hr style="margin-top: 5px;margin-bottom: 10px;">
    {% endfor %}
    <nav class="text-center" id="article_pager"></nav>
</div>
{% endblock %}